# Node.js
node_modules/
npm-debug.log
yarn-error.log

# dotenv environment variables file
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Config file
config.json

# Optional npm cache directory
.npm

# IDE/Editor-specific files
.idea/
.vscode/
*.swp
